@charset "utf-8";
#lm-ext-wrapper {
  display: block;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 2147483647;
  box-shadow: 0 0 5px #919191;
  background: #f2f2f2;
}